<!DOCTYPE html>
<html>
<head>
  <title><%= "#{namespace} - #{controller.controller_name}::#{controller.action_name}" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'partials/sidebar' %>

	<div class="content">
		<%= yield %>
	</div>

</body>
</html>