<h2>Your posts</h2>
{% if postsCount > 5 %}
Search through your <a href="{{ this.createUrl('post/dashboard') }}">published posts</a> or
<a href="{{ this.createUrl('post/new') }}">compose new</a>.
{% elseif postsCount > 0 %}
    {% for post in posts %}
        <a href="{{ this.createUrl('post/edit', {'slug': post.slug}) }}"/>{{ post.title }}</a>
    {% endfor %}
{% else %}
You don't have any posts written. Good reason to <a href="{{ this.createUrl('post/new') }}">write one</a> right now.
{% endif %}

<h2>Fresh comments</h2>
{% if comments %}
    {% for comment in comments[:3] %}
    Last one, {{ comment.author }} on {{ comment.postTitle }}:
    <a href="{{ comment.link }}"/>{{ comment.content|truncate(50, true) }}</a>
    {% endfor %}
    {% if comments|length > 3 %}
    <a href="{{ this.createUrl('post/responses') }}">View all</a>
    {% endif %}
{% else %}
No comments yet. Don't worry, there will be some soon.
{% endif %}
<h2>Users</h2>

<div class="line">
    Password box and suicide booth are located <a href="{{ this.createUrl('admin/profile') }}">right here</a>.
</div>
<div class="line">
    You can also create account for a friend <a href="{{ this.createUrl('admin/invite') }}">here</a>.
</div>
<div class="line">
    That's all we have for now.
</div>

<h2>Help!</h2>
<a href="{{ this.createUrl('admin/help') }}">Not just anybody</a>.