{% set form = this.beginWidget('CActiveForm') %}
<h2>Application</h2>
<div class="form-row">
    {{ form.labelEx(applicationModel, 'name') }}
    {{ form.textField(applicationModel, 'name') }}
</div>
<div class="form-row">
    {{ form.labelEx(applicationModel, 'language') }}
    {{ form.dropdownList(applicationModel, 'language', applicationModel.availableLanguages) }}
</div>
<div class="form-row submit-row">
    {{ C.Html.submitButton() }}
</div>
<h2>Cache</h2>
<a href="{{ this.createUrl('admin/flushCache') }}">Flush cache</a>
{{ void(this.endWidget()) }}