@model BlogMvc.Web.Models.Post

<div class="page-header">
    <h1>@Model.Name</h1>
    <p>
        <small>
            Category : <a href="@Url.Action("Index","Category")/@Model.Category.slug">@Model.Category.name</a>,
            by <a href="@Url.Action("Index", "Author")/@Model.User_Id">@Model.User.Username</a> on <em>@Model.Created.ToShortDateString()</em>
        </small>
    </p>
</div>
<article>
    @Html.Markdown(@Model.Content)
</article>
<hr>