{% if this.categories is not empty %}
    <h4>{{ this.categoriesHeaderText }}</h4>
    <div class="list-group categories">
        {% for key, category in this.categories %}
            <a class="list-group-item item-{{ key }}"
               href="{{ this.getController().createUrl(this.categoryRoute, {
                   'slug': category.slug,
               }) }}">
                <span class="badge">{{ category.post_count }}</span>
                {{ category.name }}
            </a>
        {% endfor %}
    </div>
{% endif %}
{% if this.posts is not empty %}
    <h4>{{ this.postsHeaderText }}</h4>
    <div class="list-group posts">
        {% for key, post in this.posts %}
            <a class="list-group-item item-{{ key }}"
               href="{{ this.getController().createUrl(this.postRoute, {
                   'slug': post.slug
               }) }}">
                {{ post.name }}
           </a>
        {% endfor %}
    </div>
{% endif %}
