{% extends 'views/layouts/admin.twig' %}
{% block content %}
<h2>{{ App.t.t('heading.createNewUser') }}</h2>
{% set form = this.beginWidget('CActiveForm', {
    'htmlOptions':{
        'class':'col-md-6',
        'role':'new-user-form'
    }
}) %}
<div class="row form-group{{ user.getError('username')?' has-error' }}">
    {{ form.textField(user, 'username', {
        'placeholder':user.getAttributeLabel('username'),
        'class':'form-control',
        'autofocus':true
    }) }}
    {% if user.getError('username') %}
        <span class="help-block">{{ user.getError('username') }}</span>
    {% endif %}
</div>
<div class="row form-group{{ user.getError('newPassword')?' has-error' }}">
    {{ form.passwordField(user, 'newPassword', {
        'placeholder':user.getAttributeLabel('newPassword'),
        'class':'form-control'
    }) }}
    {% if user.getError('newPassword') %}
        <span class="help-block">{{ user.getError('newPassword') }}</span>
    {% endif %}
</div>
<div class="row form-group{{ user.getError('newPasswordRepeat')?' has-error' }}">
    {{ form.passwordField(user, 'newPasswordRepeat', {
        'placeholder':user.getAttributeLabel('newPasswordRepeat'),
        'class':'form-control'
    }) }}
    {% if user.getError('newPasswordRepeat') %}
        <span class="help-block">{{ user.getError('newPasswordRepeat') }}</span>
    {% endif %}
</div>
<div class="row form-group">
    <button type="submit" class="btn btn-primary" role="create-user">
        {{ App.t.t('control.submit') }}
    </button>
</div>
{{ void(this.endWidget()) }}
{% endblock %}