{% extends 'views/layouts/admin.twig' %}
{% block content %}
    {{ App.t.t('text.profileGreeting', {'{username}': App.user.username}) }}

    <h3>{{ App.t.t('heading.username') }}</h3>
    <div class="row">
        {% set form = this.beginWidget('CActiveForm', {
            'action': this.createUrl('user/updateUsername'),
            'htmlOptions': {'role': 'username-update-form'}
        }) %}
        <div class="col-md-6">
            <div class="form-group{{ user.getError('username')?' has-error' }}">
                {{ form.textField(user, 'username', {
                    'class':'form-control',
                    'placeholder':user.getAttributeLabel('username'),
                    'autofocus':true
                }) }}
                {% if user.getError('username') %}
                    <span class="help-block">{{ user.getError('username') }}</span>
                {% endif %}
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-primary" role="update-username">
                    {{ App.t.t('control.submit') }}
                </button>
            </div>
        </div>
        {{ void(this.endWidget) }}
    </div>
    <h3>{{ App.t.t('heading.passwordUpdate') }}</h3>
    <div class="row">
        {% set form = this.beginWidget('CActiveForm', {
            'action':this.createUrl('user/updatePassword'),
            'htmlOptions': {'role': 'password-update-form'}
        }) %}
        <div class="col-md-6">
            <div class="form-group{{ user.getError('password')?' has-error' }}">
                {{ form.passwordField(user, 'password', {
                    'value':'',
                    'class':'form-control',
                    'placeholder':user.getAttributeLabel('password')
                }) }}
                {% if user.getError('password') %}
                    <span class="help-block">{{ user.getError('password') }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <div class="form-row{{ user.getError('newPassword')?' has-error' }}">
                    {{ form.passwordField(user, 'newPassword', {
                        'value':'',
                        'class':'form-control',
                        'placeholder':user.getAttributeLabel('newPassword')
                    }) }}
                    {% if user.getError('newPassword') %}
                        <span class="help-block">{{ user.getError('newPassword') }}</span>
                    {% endif %}
                </div>
                <div class="form-row{{ user.getError('newPasswordRepeat')?' has-error' }}">
                    {{ form.passwordField(user, 'newPasswordRepeat', {
                        'value':'',
                        'class':'form-control',
                        'placeholder':user.getAttributeLabel('newPasswordRepeat')
                    }) }}
                    {% if user.getError('newPasswordRepeat') %}
                        <span class="help-block">{{ user.getError('newPasswordRepeat') }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-primary" role="update-password">{{ App.t.t('control.submit') }}</button>
            </div>
        </div>
        {{ void(this.endWidget()) }}
    </div>

    <h3>{{ App.t.t('heading.suicideBoothSection') }}</h3>
    <a href="{{ this.createUrl('user/suicide') }}" class="btn btn-primary" role="suicide-booth-link">{{ App.t.t('link.suicideBooth') }}</a>
{% endblock %}