{% extends 'views/layouts/main.twig' %}
{% block header_auth_link %}{% endblock %}
{% block page_header %}{% endblock %}
{% block content %}
    {% set form = this.beginWidget('CActiveForm', {
        'htmlOptions': {'class': 'form-signin', 'role': 'login-form'}
    }) %}
    <h4>{{ App.t.t('heading.pleaseSignIn') }}</h4>
    <div class="form-group{{ user.hasErrors()?' has-error' }}">
        {{ form.textField(user, 'username', {
            'class': 'form-control',
            'placeholder': user.getAttributeLabel('username'),
            'autofocus': true
        }) }}
        {{ form.passwordField(user, 'password', {
            'class': 'form-control',
            'placeholder': user.getAttributeLabel('password'),
        }) }}
        <button type="submit" class="btn btn-lg btn-primary btn-block" role="sign-in-button">
            {{ App.t.t('control.signIn') }}
        </button>
    </div>
    {{ void(this.endWidget()) }}
{% endblock %}