{% set post_url = this.createUrl('post/show', {'slug': post.slug}) %}
<article id="post-{{ post.id }}">
    {% block post_content_before %}
        <h2>
            <a href="{{ post_url }}">{{ post.name }}</a>
        </h2>
        <p>
            <small>
                {{ App.t.t('text.category') }}:
                <a href="{{ this.createUrl('category/index', {'slug':post.category.slug}) }}" role="category-link">
                    {{- post.category.name -}}
                </a>, {{ App.t.t('text.by') }}
                <a href="{{ this.createUrl('user/index', {'id': post.author.id}) }}" role="user-link">
                    {{- post.author.username -}}
                </a> {{- App.t.t('text.onTime') }} <em>{{- App.dateFormatter.formatDateTime(post.created, 'medium', null) -}}</em>
                {% if App.user.id == post.user_id %}
                    | <a href="{{ this.createUrl('post/edit', {'id':post.id}) }}" role="post-edit-link">
                        {{- App.t.t('link.edit') -}}
                    </a>
                {% endif %}
            </small>
        </p>
    {% endblock %}

    <p>
        {% block post_content %}
            {{ post.rendered }}
        {% endblock %}
    </p>
    {% block post_content_after %}
    {% endblock %}
</article>

<hr>