{% macro paginate(paginator) %}
	{% set page = app.request.get('page') ?: 1 %}
	{% set countPages = paginator|length // paginator.query.maxResults + 1 %}

	{% if(countPages > 1) %}

		<ul class="pagination">
			{% if page > 1 %}
			    <li class="prev"><a href="?page={{ page-1 }}" rel="prev">Previous</a></li>
			{% else %}
			    <li class="disabled"><a>Previous</a></li>
			{% endif %}

			{% for p in 1..countPages %}
			    {% if p == page %}
			    	<li class="active"><a>{{ p }}</a></li>
			    {% else %}
			    	<li><a href="?page={{ p }}">{{ p }}</a></li>
			    {% endif %}
			{% endfor %}

			{% if page < countPages %}
			    <li class="next"><a href="?page={{ page+1 }}" rel="next">Next</a></li>
			{% else %}
			    <li class="disabled"><a>Next</a></li>
			{% endif %}
		</ul>

	{% endif %}
{% endmacro %}