<!DOCTYPE html>
<html>
    <head>
        {% if this.pageTitle %}
        <title>{{this.pageTitle }} - {{ App.name }}</title>
        {% else %}
        <title>{{ this.id|capitalize }}/{{ this.action.id|capitalize }} - {{ App.name }}</title>
        {% endif %}
        <link href='//fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css" />
        <link rel="stylesheet" href="{{ App.theme.baseUrl }}/css/style.css" />
    </head>
    <body>
        {% block header %}
            <div class="header">
                {% block menu %}
                <div class="menu">
                    {{ void(this.widget('HeaderMenuWidget', {'class':'left-menu'})) }}
                    <ul class="right-menu">
                    {% if not App.user.isGuest %}
                        <li><a href="{{ this.createUrl('admin/index') }}">Admin dashboard</a></li>
                        <li><a href="{{ this.createUrl('admin/logout') }}">Logout</a></li>
                    {% elseif App.request.requestUri != this.createUrl('admin/login') %}
                        <li><a href="{{ this.createUrl('admin/login') }}">Login</a></li>
                    {% endif %}
                    </ul>
                </div>
                {% endblock %}
            </div>
        {% endblock %}
        {% block pageWrap %}
        <div class="page-wrap">
            {%block breadcrumbs %}
                <div class="breadcrumbs content-block">
                    <a href="/">{{ App.name }}</a>
                    {% for link, name in this.breadcrumbs %}
                    &rarr; <a href="{{ link }}">{{ name }}</a>
                    {% endfor %}
                </div>
            {% endblock %}
            {% block contentWrap %}
            {% block flashMessages %}
                {% set messages = App.user.getMessages() %}
                {% if messages|length > 0 %}
                    <div class="flash-messages content-block">
                    {% for message in messages %}
                        <div class="flash-message">
                            {{ message }}
                            <img class="hidden close-button" src="{{ App.theme.baseUrl }}/images/icons/messages.close.png" role="close-button" />
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}
            <div class="page-content">
            {% block content %}
                <div class="content-block">
                    {{content}}
                </div>
            {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </body>
</html>