<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ this.createUrl('post/index') }}">{{ App.t.t('link.blog') }}</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
            <ul class="nav navbar-nav">
                {% if this.page.hasParent() %}
                    <li>
                        <a href="{{ this.page.getParent()['uri'] }}" role="parent-page-link">
                            {{ App.t.t('link.backTo', {
                                '{pageTitle}': this.page.getParent()['title']
                            }) }}
                        </a>
                    </li>
                {% endif %}
                {% block header_admin_link %}
                    {% if not App.user.getIsGuest() %}
                        <li>
                            <a href="{{ this.createUrl('admin/index') }}" role="admin-dashboard-link">
                                {{ App.t.t('link.adminPanel') }}
                            </a>
                        </li>
                    {% endif %}
                {% endblock %}
                {% block header_auth_link %}
                    {% if App.user.getIsGuest() %}
                        <li>
                            <a href="{{ this.createUrl('site/login') }}" role="login-link">
                                {{ App.t.t('link.login') }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ this.createUrl('site/logout') }}" role="logout-link">
                                {{ App.t.t('link.logout') }}
                            </a>
                        </li>
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </div><!-- /.container -->
</div>