{% block content %}
    <h2 class="post-title">
        {{ post.name }}
        {% if post.user_id == App.user.id %}
            <a href="{{ this.createUrl('post/edit', {'id': post.id}) }}" class="edit-link" role="edit-link">Edit</a>
        {% endif %}
    </h2>
    <div class="post-content content-block">
        {{ post.content }}
    </div>
    <div class="post-comments content-block">
        <h2>Comments</h2>
        {% for comment in post.comments %}
        <div class="comment">
            <div class="username" role="username">{{ comment.username }}</div>
            <div class="content">{{ comment.content }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="coment-form">
        <h2>Leave a reply</h2>
        {% set form = this.beginWidget('CActiveForm') %}
            <div class="form-row">
                {{ form.labelEx(commentModel, 'username') }}
                {{ form.textField(commentModel, 'username') }}
                {{ form.error(commentModel, 'username') }}
            </div>
            <div class="form-row">
                {{ form.labelEx(commentModel, 'mail') }}
                {{ form.textField(commentModel, 'mail') }}
                {{ form.error(commentModel, 'mail') }}
            </div>
            <div class="form-row">
                {{ form.labelEx(commentModel, 'content') }}
                {{ form.textArea(commentModel, 'content') }}
                {{ form.error(commentModel, 'content') }}
            </div>
            <div class="form-row">
                {{ C.Html.submitButton() }}
            </div>
        {{ void(this.endWidget()) }}
    </div>
{% endblock %}