<h2>Profile</h2>

Hi there, {{ App.user.username }}!

<h3>Password update</h3>

{% set form = this.beginWidget('CActiveForm') %}
<div class="form-row">
    {{ form.labelEx(userModel, 'password') }}
    {{ form.passwordField(userModel, 'password') }}
</div>
<div class="form-row">
    {{ form.labelEx(userModel, 'newPassword') }}
    {{ form.passwordField(userModel, 'newPassword') }}
</div>
<div class="form-row">
    {{ form.labelEx(userModel, 'newPasswordRepeat') }}
    {{ form.passwordField(userModel, 'newPasswordRepeat') }}
</div>
<div class="form-row">
    {{ C.Html.submitButton() }}
</div>
{{ void(this.endWidget()) }}

<h3>The nullmighty plzdeleteme link</h3>
<a href="{{ this.createUrl('admin/suicide') }}">Plz delete me</a>