<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Mon application ASP.NET MVC</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <style>
        body {
            padding-top: 50px;
        }

        .sidebar {
            margin-top: 50px;
        }
    </style>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Content("~")">Blog</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Post", new { area = string.Empty })">&lt; Back to front</a></li>
                    <li><a href="@Url.Action("LogOff", "Account", new { area = string.Empty })">LogOut</a></li>
                </ul>
            </div>
        </div><!-- /.container -->
    </div>


    <div class="container">
        @RenderBody()
    </div><!-- /.container -->
    @RenderSection("scripts", required: false)
</body>
</html>
