{% extends 'views/layouts/admin.twig' %}
{% block content %}
<h1>{{ post.isNewRecord?'New post':'Edit post' }}</h1>
<p>
    <a href="{{ this.createUrl('post/dashboard') }}">&lt; Back to posts</a>
</p>
{% set form = this.beginWidget('CActiveForm',{
    'htmlOptions':{'accept-charset':'utf-8'}
}) %}
    {% if post.hasErrors() %}
        <div class="alert alert-danger">
            <ul>
                {% for attribute in post.errors %}
                    {% for error in attribute %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group required">
                {{ form.label(post, 'name') }}
                {{ form.textField(post, 'name', {'class':'form-control'}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group required">
                {{ form.label(post, 'slug') }}
                {{ form.textField(post, 'slug', {'class':'form-control'}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group required">
                {{ form.label(post, 'category_id') }}
                {{ form.dropDownList(post, 'category_id', categories, {'class':'form-control'}) }}
            </div>
        </div>
    </div>
    <div class="form-group required">
        {{ form.label(post, 'content') }}
        {{ form.textArea(post, 'content', {'class':'form-control', 'cols':30, 'rows':6}) }}
    </div>
    <div class="submit">
        <input class="btn btn-primary" type="submit" role="submit-post" value="{{ post.isNewRecord?'Publish':'Edit' }}"/>
    </div>
{{ void(this.endWidget()) }}
{% endblock %}