{% if posts|length > 0 %}
    {% for post in posts %}
    {% set post_url = this.createUrl('post/show', {'slug':post.slug}) %}
    <div class="post" data-post-id="{{ post.id }}">
        <div class="title" role="post-title">{{ post.name }}</div>
        <div class="post-meta">
            <a href="{{ this.createUrl('post/author', {'id': post.author.id}) }}" role="post-author">
                {{ post.author.username }}
            </a> at {{ post.created }}
        </div>
        <div class="post-content" role="post-content">
            {# post.content|truncate(300, true) #}
            {{ post.content }}
        </div>
        {% if post.content|length > 300 %}
            <a href="{{ post_url }}" class="read-more" role="read-more-link">Read more</a>
        {% endif %}
    </div>
    {% endfor %}
{{ void(this.widget('PaginationWidget', pagination)) }}
{% else %}
No posts yet.
    {% if not App.user.isGuest %}
    Wanna <a href="{{ this.createUrl('post/new') }}">write one</a>?
    {% endif %}
{% endif %}
