@model  BlogMvc.Web.ViewModels.PagerModel

@{
    
    int selectedPage = 1;
    if (Request.Params.AllKeys.Contains("page"))
    { selectedPage = int.Parse(Request.Params["page"]);}


    int previous = selectedPage > 1 ? (selectedPage - 1) : 1;
    int next = selectedPage < Model.Pages ? selectedPage + 1 : Model.Pages;
    
    
}

<ul class="pagination">
    
    <li><a href="@Url.Action("Index", new { page = @previous })">&laquo;</a></li>

    @for (int i = 1; i <= Model.Pages; i++)
{
    string css = (i == selectedPage) ? "active" : "";
    <li class="@css"><a href="@Url.Action("Index", new { page = i })">@i</a></li>
}

    <li><a href="@Url.Action("Index", new { page = @next })">&raquo;</a></li>
</ul>